extends logged_in_layout

block header
  script(type='text/javascript').
    var viewModel = !{JSON.stringify(viewModel)};
  script(src='/javascripts/nodes_ui.js')

block content
  .row
    .col-lg-12
      h1.page-header Dashboard

  .row
    for currentNode in viewModel.nodes
      include includes/node/node_main
  if viewModel.mapEnabled
    .row
      .col-lg-3.col-md-6
        h1 Sensor map
        img(src="/images/temperature_sensor_map_web.png")
