extends logged_in_layout

block content
  .row
    .col-lg-12
      h1.page-header Rules
        .pull-right
          a.btn.btn-success(href='/rules/new') Add a new rule
  .row
    .col-lg-10
      | Name
    .col-lg-2
      | Enabled
