case currentNode.nodeType
  when 'OHTemperatureSensor'
    include node_main_input
  when 'OHDoubleRelayActuator'
    include node_main_output
  when 'Particle DS18B20 Temp Sensor'
    include node_main_input
  default
    .col-lg-3.col-md-6
      .panel.panel-red
        .panel-heading
          | Node mode not defined for #{currentNode.nodeName}